.team-section {
  background-color: #F4F4FD;
  padding: 120px 0px;
}

.team-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}

.team-section ul h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}

.team-section ul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}


/* flexbox styles */
.team-content {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 72px 0 0 0;
}
